<p id="notice"><%= notice %></p>

<h1>Orderitems</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Total</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderitems.each do |orderitem| %>
      <tr>
        <td><%= orderitem.quantity %></td>
        <td><%= orderitem.unit %></td>
        <td><%= orderitem.total %></td>
        <td><%= orderitem.name %></td>
        <td><%= orderitem.description %></td>
        <td><%= link_to 'Show', orderitem %></td>
        <td><%= link_to 'Edit', edit_orderitem_path(orderitem) %></td>
        <td><%= link_to 'Destroy', orderitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderitem', new_orderitem_path %>
