<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @orderitem.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @orderitem.unit %>
</p>

<p>
  <strong>Total:</strong>
  <%= @orderitem.total %>
</p>

<p>
  <strong>Name:</strong>
  <%= @orderitem.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @orderitem.description %>
</p>

<%= link_to 'Edit', edit_orderitem_path(@orderitem) %> |
<%= link_to 'Back', orderitems_path %>
