<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
            <div class="card-header"> <%= @product.title %></div>
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        # Adding the picture later
                        <p class="text-center">Zoom</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
        
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="price"><%= @product.price %>$</p>
                      <div class="form-group">
                        <span>Category:
                        <% if @product.has_categories? %>
                        <% @product.categories.each do |cat| %>
                        <span><%= link_to cat.name,  products_path({categories:[cat.id]}) %> &nbsp; </span>
                        <% end %>
                        <% else %>
                        None
                        <% end  %>
                        </span>
                        </div>
                    <form>
                    <h5>Stock: <span class="badge badge-secondary"><%= @product.stock %></span></h5>
                       <%= form_with model: @order_item do |f| %>
                        <div class="form-group">
                            <label>Quantity :</label>
                        <%#= f.hidden_field :product, value: product.id %>
                        <%= f.number_field :quantity, value: 1, min: 1%>                                    
                        <%= f.submit "Add To Cart", class:"btn btn-success btn-lg btn-block text-uppercase"%>
                        </a>
                        <% end %>
                    </form>                   
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                      <%= @product.description %>
                    </p>

                </div>
            </div>
        </div>

        <!-- Reviews -->
        <div class="col-12" id="reviews">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
                <div class="card-body">
                    <div class="review">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="badge badge-light"><i class="bi bi-arrow-return-left"> </i><%= link_to 'Back', products_path %>
</div>


                             
